{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended"
    // "plugin:import/errors",
    // "plugin:import/warnings",
    // "plugin:jsx-a11y/recommended"
    // "react-app"
  ],
  "plugins": ["prettier"],
  "rules": {
    "no-console": 2,
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
